/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
  }
  
  /* Estilos para las celdas de la tabla */
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Estilos para las celdas de la cabecera de la tabla */
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  
  /* Estilos para las filas de la tabla al pasar el mouse */
  tr:hover {background-color: #12141d;}
  
  /* Estilos para el botón de eliminar */
  .bg-red-500 {
    background-color: #f56565;
  }
  
  .hover\:bg-red-700:hover {
    background-color: #c53030;
  }
  
  .text-white {
    color: #fff;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .rounded {
    border-radius: 0.25rem;
  }
  
  .focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  .focus\:shadow-outline:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }